.article_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: .5rem 0;
  padding: 0;
}

.article_tags .tag {
  background: var(--tag-background, var(--color-tag-background));  
  color: var(--tag-foreground, var(--color-tag-foreground));
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 7px 0px;
  font-size: .75rem;
  letter-spacing: .5px;
  line-height: normal;
  padding: .25rem .75rem;
  max-width: calc(100% - .5rem);
  text-overflow: ellipsis;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase}
