.deferred-media__poster {
    margin: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
    border-width: 0px;
    background-color: transparent;
    padding: 0px;
}

.deferred-media__poster img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.deferred-media {
    overflow: hidden;
}

.deferred-media:not([loaded]) template {
    z-index: -1;
}

.deferred-media[loaded] > .deferred-media__poster,
.deferred-media[loaded] > .deferred-media__poster-button {
    display: none;
}

.deferred-media__poster:focus {
    outline-offset: -0.3rem;
}

.deferred-media__poster-button {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 0;
    z-index: 10;
}

.deferred-media__poster-button svg {
    border: 1px solid var(--color-foreground-10);
    border-radius: var(--button__border-radius);
}

.deferred-media__poster-button:hover {
    opacity: .95;
    transform: translate(-50%, -50%) scale(1.1);
}