.color-animation-wrapper {
    display: none;
}

@media (min-width: 990px), print {
    .color-animation-wrapper {
        display: block;
        width: 50%;
        height: 30%;
        position: absolute;
        bottom: -10rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .color-animation-wrapper svg {
        border-radius: 100%;
        opacity: .25;
    }
}