scroll-top {
    position: fixed;
    z-index: 19;
    cursor: pointer;
    bottom: 21vh;
    right: 1rem;   
    transform: rotate(-90deg);
    padding: .5rem;
}

scroll-top:hover,
scroll-top:focus {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, .1);
    transition: box-shadow .5s;
    border: 1px solid var(--color-foreground-8);
    border-radius: 4px;
}

body[data-theme-icons="default"] scroll-top svg {
    --sroll-top-icon-width: 1.75rem;    
}

body[data-theme-icons="enduro"] scroll-top {
    background: var(--color-base-accent-1);
}

body[data-theme-icons="enduro"] scroll-top svg {
        --sroll-top-icon-width: 1.25rem;
    }

scroll-top svg {
    width: var(--sroll-top-icon-width);
    height: var(--sroll-top-icon-width);
    color: var(--color-foreground);    
}

@media (min-width: 990px) {
    scroll-top {      
        bottom: 32vh;
    }
}

@media (min-width: 1400px) {
    scroll-top {      
        bottom: 30vh;
    }
}